@{
	Layout = "_LayoutDeslogado";
	ViewData["Title"] = "Página restrita";
}

<div class="text-center">
	<h1 class="display-4">Página restrita</h1>
	<p>Essa página é restrita para usuários Administradores.</p>
	<a asp-controller="Home" asp-action="Index">Clique aqui para voltar</a>
